.aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  margin-right: 1rem;
  font-family: $ff-poppins;
  &__about {
    margin: 1rem;
    &-us {
      text-align: center;
      & h2 {
        font-size: $fs-large;
        padding-top: 1rem;
      }
      & p {
        font-size: $fs-medium;
        text-align: justify;
      }
      &--img {
        width: 25%;
        border-radius: 50%;
        border: 2px solid black;
      }
      &--icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 1rem 0 1rem 0;
        & i {
          margin-left: 8px;
          margin-right: 8px;
        }
      }
    }
    &-course {
      text-align: justify;
      & h2 {
        color: white;
        background-color: $color-sable;
        text-align: center;
        font-size: $fs-large;
        font-weight: $fw-bold;
        padding: 5px;
      }
      & a {
        text-decoration: none;
      }
    }
    &-animation {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 40%;
    }
  }
  @include mobile {
    margin: 0 1rem 0 1rem;
    &__about-animation {
      width: 60%;
    }
  }
}
