.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  border: 2px solid gray;
  margin-left: 1rem;
  &__course {
    border: 2px solid lightgray;
    margin: 1rem;
    padding: 8px;
    & h1 {
      font-size: $fs-x-large;
    }
    & h2 {
      font-size: $fs-medium;
    }
    &-img {
      width: 100%;
    }
    & p {
      text-align: justify;
    }
    &-icons {
      display: flex;
      flex-direction: row;
      margin-top: 1rem;
      i {
        margin-left: 8px;
        margin-right: 8px;
      }
    }
  }
  @include mobile {
    margin: 0 1rem 0 1rem;
  }
}
